<!DOCTYPE html>
<html>
<head>
    <title>DEMO</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>
<body>
<div>
    <h3>Hello world!</h3>
</div>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<!--SCRIPTS END-->

</body>
</html>
